<div id="bootstrap-override-navbar">
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/calendar">
            <span class="glyphicon glyphicon-hourglass"></span>Timelogger
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/calendar" routerLinkActive="active">Calendar</a></li>
          <li><a routerLink="/task-list" routerLinkActive="active">Tasks of a day</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
