<table id="tasklist-table" class="table table-bordered">
  <caption>Date of day</caption>
  <thead>
  <tr>
    <th class="smaller-column">Task ID</th>
    <th>Description</th>
    <th class="smaller-column">Start time</th>
    <th class="smaller-column">End time</th>
    <th class="smaller-column">Length</th>
    <th class="smaller-column">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>LT-1234</td>
    <td>
      Long-aaaaaa aaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaa aaa
      aaaaaa aaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaa aaa
      aaaaaa aaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaa aaa
      aaaaaa aaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaa aaa
      aaaaaa aaaaaaaa aaaaaaaa aaaaaaaaa aaaaa aaaaaaa aaa
    </td>
    <td>12:00</td>
    <td>14:00</td>
    <td>500 min</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-xs dropdown-toggle edit-button" type="button" data-toggle="dropdown">
          ...<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Modify</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
