<table class="table statistics-table">
  <caption>Statistics</caption>
  <tbody>
  <tr>
    <td>Working minutes:</td>
    <td class="right-aligned-column">
      <span id="working-minutes-span">{{statisticsTest.sumPerMonth}}</span> min
    </td>
  </tr>
  <tr>
    <td>Required working minutes:</td>
    <td class="right-aligned-column">
      <span id="required-minutes-span">{{statisticsTest.requiredMinPerMonth}}</span> min
    </td>
  </tr>
  <tr>
    <td>Extra minutes:</td>
    <td class="right-aligned-column">
      <span id="extra-minutes-span">{{statisticsTest.extraMinPerMonth}}</span> min
    </td>
  </tr>
  </tbody>
</table>
