<table class="table statistics-table">
  <caption>Statistics</caption>
  <tbody>
  <tr>
    <td>Working minutes:</td>
    <td class="right-aligned-column">280 min</td>
  </tr>
  <tr>
    <td>Required working minutes:</td>
    <td class="right-aligned-column">450 min</td>
  </tr>
  <tr>
    <td>Extra minutes:</td>
    <td class="right-aligned-column">-180 min</td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default">Switch to an other day</button>
<form id="day-changing-form">
  <div id="day-changing-form-group" class="form-group">
    <input type="datetime-local" class="form-control" id="new-day-field" name="newDay">
  </div>
  <button type="submit" class="btn btn-default">Change to day</button>
</form>
